{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="poll-box">

    <div class="poll-banner mx-auto my-auto">
        <h1 class="text-black text-center display-3">Help us choose our new flavours!</h1>
    </div>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li>
            <h3><a href="{% url 'polls:detail' question.id %}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ question.question_text }}</h5>
                        </div>
                    </div>
                </a></h3>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

{% endblock %}