{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="poll-box">

    <div class="container h-100">
        <div class="row h-50">
            <div class="col-12 col-md-6 my-auto"></div>
            <div class=" my-0 mx-0 text-center">
                <h1 class="display-4 logo-font text-black flavour-banner">Help us choose our new flavours!</h1>
            </div>
        </div>
    </div>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li>
            <h3><a href="{% url 'polls:detail' question.id %}">
                    <div class="card" style="width: 48rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ question.question_text }}</h5>
                        </div>
                    </div>
                </a></h3>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

{% endblock %}